{% extends 'base.html' %}

{% block content %}
    {% block heading %}
        <h1 class="text-center">Поиск <span class="badge bg-info">{{ heading }}</span></h1>
    {% endblock %}
    <form action="" method="POST">
        {{ form.hidden_tag() }}  <!-- защита формы от CSRF-атак -->

        <div class="mb-3">
            {{ form.query.label(class="form-label") }}
            {{ form.query(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.submit(class="btn btn-success") }}
        </div>
    </form>
{% endblock %}